# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# HuggingFace / model checkpointsZ
nlp/intent_model/checkpoint-*/

# Large model files
*.bin
*.safetensors
*.pt
*.pth

# Dataset (ignore if large)
*.csv

# OS files
.DS_Store
Thumbs.db